body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #f2f2f2;
}

#artists_pictures {
  img {
    object-fit: cover;
    width: 25%;
    height: 150px;
    margin: 10px;
  }
  padding: 20px;
  margin-bottom: 40px;
}
#chief_keef {
  visibility: hidden;
}

#megan {
  visibility: hidden;
}

#sexyy_redd {
  visibility: hidden;
}

#destroy_boys {
  visibility: hidden;
}

#cat_photo {
  max-width: 350px;
  max-height: 350px;
}
